:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel__image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    .carousel__image--selected {
        border: 4px solid #ff4081;
        width: 100px;
        height: 75px;
    }
}

.zoom {
    margin-top: 4rem;
}

.image--expanded {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
